.cart {
  flex: 1;
  width: fit-content;
  padding: 16px 24px;
  border: 2px solid #2e2e2e;
  background: #fff;
  height: 100vh;
  overflow-y: auto;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart ul li {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.cart ul li p {
  flex: 1;
}

.cart ul li:not(:last-child) {
  border-bottom: 1px solid #3d3d3d;
}

.cart-control {
  user-select: none;
}

.cart-control input {
  width: 80px;
  padding: 16px;
  font-weight: bold;
  outline: none;
  margin: 0 8px;
  text-align: center;
  border-radius: 8px;
  border: 0.3px solid rgba(46, 46, 46, 0.6);
}

.cart-control button {
  padding: 16px;
  font-weight: bold;
  cursor: pointer;
}
